/* Styles for PAGE LAYOUT*/
header, nav, main, footer, aside

{
	display: block;
}


nav
{
	float: left;
	width: 250px;
	background-color:rgb(255, 245, 204) ;
}

aside
{
	float: right;
	line-height: 120%;
	width: 250px;
	background-color:rgb(255, 235, 153) ;
	
}

main
{
	background-color: rgb(255, 245, 204)
}

footer
{
	clear: both;
	background-color: rgb(255, 204, 0);
	color: white;
	line-height: 4em;
	text-align: center;
	font:normal small-caps 0.8em/4em;
}

body
{
	background-color: rgb(255, 245, 204)
}

/* Styles for IMAGE */
header img.center
{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 }

div img
{
	margin: 20px
}

aside img
{
	margin: 7px
}

/* Styles for TOPNAV*/
.topnav
{
	background-color: rgb(255, 204, 0) ;
	overflow: hidden;
}

.topnav a
{
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	/*text-decoration: none;*/
	font-size: 17px;
	font-family: "Comic Sans MS", cursive, sans-serif
}


.topnav a:hover
{
	background-color: rgb(230, 46, 0);
	color: rgb(255, 204, 0);
}

.topnav a.active
{
	background-color: rgb(230, 46, 0);
	color: rgb(255, 204, 0);
}
.topnav a.active:hover
{
	color: white
}


/* Style for HEAD*/

h1
{
	text-align: center;
	margin: auto;
	border-bottom: double;
	width: 60%;
	color: rgb(230, 46, 0);
}

main p
{
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

main a
{
	color: rgb(230, 184, 0);
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: bold;
}

aside p 
{	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 0.8em
}

h3
{
	text-align: center;
}

h4
{
	text-align: center;
	font-size: 110%
}

/* Styles for NAV LIST*/

nav img
{
	margin: 2em
}

nav ul li
{
	list-style-type: none;
	background-color:rgb(255, 245, 204) ;
	width: 100%;
	border-bottom:1px solid rgb(182,182,92);
	display: block;
	line-height: 250%;
}

nav  a 
{
	text-decoration: none;
	color: black;
	font-size: 120%;
	font-family: Tahoma, Geneva, sans-serif;
}

nav a:hover
{
	color: rgb(230, 184, 0);
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;}

  /* Fading animation */
.slides
{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Styles for TABLE */
table
{
	width: 40%;
	padding-left: 5em
}

table tr td
{
	text-align: center;
}

main div p
{
	display: none;
}

div nav p
{
	text-align:center;
	font-weight: bold;
	border-bottom: outset;
}